h1,
p {
  font-family: Lato;
}

* {
  margin: 0;
  padding: 0;
  box-shadow: none !important;
}

body {
  background-color: rgba(1, 16, 33, 0.949) !important;
}

.card {
  transition: all 0.3s linear;
}
